<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /KoofaDesign/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /KoofaDesign/index.php [L]
RewriteRule ^(application|system) - [F,L]
</IfModule>
